@font-face {
    font-family: "metal_mania";
    src: url("./Font/MetalMania-Regular.ttf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./Image/image\ de\ fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 150px;
    right: calc(100vw/9);
    top: calc(100vh/22);
}

#logoLinkedin {
    height: 50px;
    width: auto;
}

#logoGithub {
    height: 50px;
    width: auto;
}

.aboutMe {
    position: absolute;
    top: calc(100vh/2.4);
    left: calc(100vw/7);
    border-radius: 60%;
    background-color: rgba(0, 214, 252, 0.314);
    font-family: "metal_mania";
    font-size: 2.5rem;
    color:rgb(255, 255, 255);
}

#aboutMeGreetings {
    text-align: center;
}

#aboutMeJob {
    color: rgb(207, 214, 11);
}

#name {
    font-weight: 550;
    color: rgb(207, 214, 11);
}

#photo {
    position: absolute;
    height: 600px;
    right: calc(100vw/17);
    top: calc(100vh/6);
    border-radius: 50%;
}

#switchButton {
    position: absolute;
    bottom: calc(100vh/16);
    left: calc(100vw/2);
    height: 80px;
    width: 160px;
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px -10px rgba(0, 0, 0, 0.911);
}

.switchLights {
    background-image: url(./Image/image\ de\ fond\ dark.jpg);
}

@media only screen and (max-width: 390px) {
    body {
        background-image: none;
        background-color: rgb(6, 147, 235);
    }

    nav {
        position: fixed;
        display: flex;
        justify-content: space-around;
        width: 100%;
        top: 10px;
        right: 0;
    }
    
    #photo {
        height: auto;
        width: 250px;
        right: auto;
        top: 150px;
        left: 30px;
    }

    .aboutMe {
        width: 230px;
        height: auto;
        font-size: 1.7rem;
        top: 400px;
        left: 130px;
    }

    #switchButton {
        position: fixed;
        left: 30%;
        bottom: 40px;
    }

    .switchLights {
        background-image: none;
        background-color: rgb(7, 61, 95);
    }
}